
{% extends 'bloodology/base.html' %}
{% load static %}

{% block content %}
    <!-- Blood Donation tips -->

    <div class="all-question">
        <div class="Question">
            <h1>About US</h1>
            <h4>Welcome to [App Name] - A Community-Driven Blood Donation Platform!</h4> <br><br>

            <p>At [App Name], we are dedicated to saving lives through the power of community. Our goal is to create a supportive network that connects blood donors with individuals in need, ensuring that no one has to face a blood shortage alone.</p> <br>

            <b>Our Features:</b><br><br>
            <li><b>Easy Blood Requests:</b> Users can quickly upload posts to request blood donations, facilitating rapid responses from willing donors in the area.</li>

            <li><b>Donor Profiles:</b> Donors can create profiles to provide their contact information, allowing those in need to reach out directly for assistance.</li>

            <li><b>Helpful Resources:</b> We offer essential tips for potential donors, ensuring everyone is informed and prepared before donating blood.</li>

            <li><b>Compatibility Information:</b> Users can access details about compatible blood types, making it easier to find the right match for each donation request.</li>

            <li><b>FAQs About Blood Donation:</b> Our platform answers common questions and concerns related to blood donation, helping to educate and inform our community.</li><br>

            <b>Join Us in Making a Difference:</b><br>
            <p>We believe that together, we can create a positive impact and help those in urgent need. By fostering a community of kindness and support, [App Name] is committed to being a reliable resource for blood donation. Sign up today and be a part of our mission to save lives!</p><br><br>


        </div>
    </div>

{% endblock content %}