
{% extends 'bloodology/base.html' %}
{% load static %}

{% block content %}
    <!-- Blood Donation tips -->

    <div class="all-question">
        <div class="Question">
            <h1>Blood Donation Tips</h1>
            <p>If you plan to give blood, follow these steps: <br><br>

            <b>Drink plenty of water.</b> Staying hydrated makes it easier to find your veins and prevents you from becoming light-headed after donating, Vossoughi says.<br><br>

            <b>Eat well beforehand.</b> Don’t skip breakfast, and be sure to eat snacks offered to you. “These things will help you tolerate the donation well and feel like yourself the rest of the day,” she says.<br><br>

            <b>Exercise before donating blood, not afterward.</b> It’s OK to go to the gym before you donate blood but not so wise afterward. “We don’t want people getting dizzy,” Vossoughi says. “You’ve basically done your workout for the day once you’ve donated blood.”<br><br>

            <b>Take iron tablets.</b> The American Red Cross recommends that individuals who donate blood frequently take an iron supplement or a multivitamin with iron. “More and more, we’re recommending that teenage donors in particular take iron, because it’s been shown that teenage donors may become iron deficient after blood donation,” DeSimone says.</p> <br>

            <a href="https://www.cuimc.columbia.edu/news/surprising-benefits-donating-blood#:~:text=One%20blood%20donation%20can%20save,for%20depression%20and%20greater%20longevity.">Reference: Columbia University Irving Medical Center</a>
        </div>
    </div>

{% endblock content %}