{% extends 'bloodology/base.html' %}
{% load static %}


{% block content %}
    <!-- Blood Donation tips -->

    <div class="container all-question">
      <div class="row justify-content-center">
          <div class="col-lg-10 col-md-12 col-sm-12 Question">
              <h1 class="text-center mt-5">Compatible Blood Type Donors</h1>
              <div class="table-responsive">
                  <table id="Bloods" class="table table-bordered table-striped">
                      <thead>
                          <tr id="table_head" class="table-danger">
                              <th>Blood Type</th>
                              <th>Donate Blood To</th>
                              <th>Receive Blood From</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>A+</td>
                              <td>A+, AB+</td>
                              <td>A+, A-, O+, O-</td>
                          </tr>
                          <tr>
                              <td>O+</td>
                              <td>A+, AB+, O+, B+</td>
                              <td>O+, O-</td>
                          </tr>
                          <tr>
                              <td>B+</td>
                              <td>AB+, B+</td>
                              <td>O+, O-, B+, B-</td>
                          </tr>
                          <tr>
                              <td>AB+</td>
                              <td>AB+</td>
                              <td>Everyone</td>
                          </tr>
                          <tr>
                              <td>B-</td>
                              <td>B+, AB+, B-, AB-</td>
                              <td>B-, O-</td>
                          </tr>
                          <tr>
                              <td>A-</td>
                              <td>A+, AB+, A-, AB-</td>
                              <td>A-, O-</td>
                          </tr>
                          <tr>
                              <td>O-</td>
                              <td>Everyone</td>
                              <td>O-</td>
                          </tr>
                          <tr>
                              <td>AB-</td>
                              <td>AB-, AB+</td>
                              <td>AB-, A-, B-, O-</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  
{% endblock content %}